{% extends 'home/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}

<section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Innovative Solutions for a <br /> <span> Digital Era</span></h1>
            <h2>Empower your business with cutting-edge software development, reliable computer solutions, and comprehensive IT training programs tailored to your needs</h2>
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

    </section><!-- End Hero -->

<section class="hero" style="background:grey">
        <div class="hero__slider owl-carousel" >

            <div class="hero__items set-bg" data-setbg="{% static 'home/images/banner/software-dev.jpg' %}" style="height:450px">
                <div class="container">
                    <div class="row">
                        <div class="">
                            <div class="hero__text" style="margin-top:-200px;padding:15px">
                                <h6 style="margin-bottom:0px;">{{ site_info.name|title }} Services</h6>
                                <h2 style="color:white"><b>Software Development</b></h2>
                                <p style="color:white;font-size:30px;text-shadow:1px 1px red;padding:10px"><b>We specialize in creating captivating websites, software and intuitive mobile apps tailored to uniquely suit your business.</b></p>
                                <a href="{ url 'shop' 'all' %}" class="primary-btn">Contact Us <span class="fa fa-arrow-down"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero__items set-bg" data-setbg="{% static 'home/images/banner/training.jpeg' %}" style="height:450px">
                <div class="container">
                    <div class="row">
                        <div class="">
                            <div class="hero__text" style="margin-top:-200px;padding:15px">
                                <h6 style="margin-bottom:0px;">{{ site_info.name|title }} Services</h6>
                                <h2 style="color:white"><b>Computer Training</b></h2>
                                <p style="color:white;font-size:30px;text-shadow:1px 1px red;padding:10px"><b>We specialize in creating captivating websites and intuitive mobile apps, blending expertise with innovation to realize your unique vision.</b></p>
                                <a href="{ url 'shop' 'all' %}" class="primary-btn">Get Started <span class="fa fa-arrow-down"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="hero__items set-bg" data-setbg="{% static 'home/images/banner/computer.jpg' %}" style="height:450px">
                <div class="container">
                    <div class="row">
                        <div class="">
                            <div class="hero__text" style="margin-top:-200px;padding:15px">
                                <h6 style="margin-bottom:0px;">{{ site_info.name|title }} Services</h6>
                                <h2 style="color:white"><b>Computer Sale</b></h2>
                                <p style="color:white;font-size:30px;text-shadow:1px 1px red;padding:10px"><b>Explore our selection of modern-day laptops, desktops, and essential peripherals, both brand-new or fairly used, we offer the best in processing power to meet your needs.</b></p>
                                <a href="{ url 'shop' 'all' %}" class="primary-btn">Shop now <span class="fa fa-arrow-down"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right" style="background: url('{% static "home/images/about.jpeg" %}') center center no-repeat;">
            <a href="#" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-md-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>A 22nd century multi dimensional tech company</h3>
            <p>Welcome to Balablu Tech, where innovation knows no bounds. As a multi-dimensional tech company, we're dedicated to exploring the uncharted territories of tomorrow's technology landscape. With a relentless passion for pushing boundaries and a steadfast commitment to unlocking new dimensions of possibility, we invite you to embark on this exhilarating journey with us. Together, let's redefine what's possible in the 22nd century and beyond. Welcome to the future of technology.</p>
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bi bi-lightning"></i></div>
              <h4 class="title"><a href="#">Innovative Solutions</a></h4>
              <p class="description">
                 Explore our innovative products and services tailored to meet the dynamic demands of today's digital landscape.
              </p>

            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bi bi-people-fill"></i></div>
              <h4 class="title"><a href="#">Visionary Team</a></h4>
              <p class="description">Our visionary team is always on the front foot, leading the charge in innovation and exploring better ways to serve you better.
              </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bi bi-check-circle-fill"></i></div>
              <h4 class="title"><a href="#">100% Quality</a></h4>
              <p class="description">At Balablu Tech, we uphold uncompromising quality standards in all aspects of our work.
                  we are dedicated to delivering excellence, ensuring that every project meets the highest benchmarks of quality and craftsmanship
              </p>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" style="background: url('{% static "home/images/cta-bg.jpg" %}') no-repeat;">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'home/images/testimonials/test1.jpeg' %}" class="testimonial-img" alt="">
                <h3>Paul Evuarherhe</h3>
                <h4>Principal, Daisies Academy</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Balablu Tech's school management software has transformed our school's operations. It's intuitive, customizable, and has greatly improved communication among staff, students, and parents. Highly recommended!
                   <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Chinedum Donatus</h3>
                <h4>Business Man</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Incredible Software for my drink and wine shop, i can now monitor my business and get all updates instantly even when i am not around.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'home/images/testimonials/test2.jpeg' %}" class="testimonial-img" alt="">
                <h3>Scholastica Ebube</h3>
                <h4>Student</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Learning programming with Balablu Tech has been an eye-opening experience. The courses are well-structured, engaging, and taught by knowledgeable instructors. I've gained valuable skills that have opened doors for me in the tech industry.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Sylvester</h3>
                <h4>CEO, Rose of Sharon Hospital</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Balablu Tech's hospital software has changed the way we manage patient care. It's intuitive, efficient, and has streamlined our workflow immensely.  we are now able to provide better patient care and improve overall efficiency in our hospital.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


 <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Address:</h4>
                <p>{{ site_info.address}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ site_info.email }}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{ site_info.mobile_1}}, {{ site_info.mobile_2 }}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" class="primary-btn">Send Message</button></div>
                <br />
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{%endblock %}